<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="static/styles/watcher.css">
    <script type="text/javascript">
        window.data = $$data;
    </script>
    <script src="static/scripts/watcher.js"></script>
</head>
<body>
<div id="watcher">
    <div class="sidebar">
        <div class="title">쿠션 봇 채널 방문 현황</div>
        <div id="today">

        </div>
    </div>
    <div id="main_content">
    </div>
</div>
</body>
</html>